<html>
	<title>"Place Chicken"</title>
	<head>
		<link rel="stylesheet" href="/static/css/main.css">
	</head>
	<body>
		<div class="all">
			<div class="wrapper">
				<div class="header">
					<img src="/static/images/place_chicken.png" alt="Place Chicken" width="450">
				</div>
				<div class="content">
					<p>"Spicy jalapeno bacon ipsum dolor amet pork belly tri-tip pork incididunt meatball, pastrami alcatra kielbasa shankle hamburger frankfurter. Ullamco prosciutto ut pancetta pork loin fatback voluptate. Commodo pork belly in culpa salami, corned beef tri-tip lorem est id pastrami ea tenderloin. Meatball swine aliqua nulla, fugiat duis frankfurter officia eiusmod ad prosciutto.
</p>
            <img src="/static/images/original-4324.jpg" alt="Coop Chickens" width="605">
				</div>
	    <div class="sidebar">
		    <img src="/static/images/original-0143.jpg" alt="Woodshed Rooster" width="300">
		    <img src="/static/images/original-4330.jpg" alt="Raptor Rooster" width="300">
	    </div>
	    <div class="footer">
		    <img src="/static/images/original-4198.jpg" alt="Chicks" width="300" height="200">
		    <img src="/static/images/original-3252.jpg" alt="Chicks" width="300" height="200">
		    <img src={{.Image}} alt="Chicks" width="300" height="200">
	    </div>
	</div>
		</div>
	</body>
</html>
