<html>
	<title>"Place Chicken"</title>
	<head>
		<link rel="stylesheet" href="/static/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="all">
			<div class="wrapper">
                <div class="content">
                    <h1 class="header">Place Chicken</h1>
                    <p>Simple, random, chicken pictures as a service for use as placeholder images. To use, put your image size (width and height, or just width) after the URL to get a custom sized chicken picture.</p>
                </div>
			    <img src="/static/images/original-0143.jpg" alt="Woodshed Rooster" width="300" class="sidebar">
			    <img src="/static/images/original-4198.jpg" alt="Chicks" width="300" height="200" class="footer left">
			    <img src="/static/images/original-3252.jpg" alt="Chicks" width="300" height="200"class="footer center">
			    <img src="/static/images/original-4330.jpg" alt="Raptor Rooster" width="300" height="200" class="footer right">
		    
			</div>
		</div>
	</body>
</html>
